<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CalU Book Exchange</p>
            <div class="list-group">
                <li class="list-group-item"><a href="/books/">Back to Books</a></li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= book.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$1,000,000</h4>
                    <h4><a><%= book.name %></a></h4>
                    <p><%= book.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="#">Feedback????</a> <!--/books/<%= book._id %>/feedback/new-->
                </div>
                <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Feedback Author Name</strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                Maecenas sed fringilla lectus. Praesent nec urna quam.
                                Aliquam vulputate euismod enim at varius. In rhoncus,
                                urna nec ornare aliquam, nisl ipsum pretium arcu, a
                                consectetur lacus risus quis est. Nunc maximus ultricies
                                quam at tristique. Morbi tincidunt interdum odio at
                                placerat. Donec consequat sit amet elit ut feugiat. Duis
                                volutpat vehicula tellus imperdiet vulputate.
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>